<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
    <h1>Blog Posts</h1>
    <a href="/posts/new">Create New Post</a>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <a href="/posts/<%= post._id %>"><%= post.title %></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
